body {
  width: 100%;
  margin: 0;
  font-family: helvetica;
  font-weight: 200;
}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
}

.ws {
  height: 100vh;
  position: relative;
  padding-left: 4em;
  padding-right: 4em;
}

i {
  position: absolute;
  text-align: center;
  font-size: 3em;
  bottom: 10px;
  left: 50%;
  transform: translate(-21px, 0);
  -webkit-transform: translate(-21px, 0);
  -moz-transform: translate(-21px, 0);
  -o-transform: translate(-21px, 0);
  -ms-transform: translate(-21px, 0);
  cursor: pointer;
}



.odd {
  background-color: #242329;
  color: white;
  box-shadow: 0px 0px 20px black;
}

.even {
  background-color white;
  color: #242329;
}

.odd i {
  color: white;
}

.even i {
  color: #242329;
}
